name: Deploy

on:
  push:
    branches:
      - production
  workflow_dispatch:

jobs:
  production:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Build
        run: |
          npm ci
          npm run-script build
          npm run-script test

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          cname: fruktkartan.se
          deploy_key: ${{ secrets.PAGES_DEPLOY_KEY }}
          external_repository: fruktkartan/fruktkartan.github.io
          # branch in external_repository to publish on
          publish_branch: master
          publish_dir: ./dist
          keep_files: false
          allow_empty_commit: true
          user_name: 'fruktrobot'
          user_email: '<>'
